.style{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 0 0 20px rgba(0,0, 0.15);
}

.style thead {
    background-color: #38015c;
    color: #ffffff;
    text-align: left;
}


.style th, .style td {
    padding: 12px 15px;
}

.style tbody tr {
    border-bottom: 1px solid #dddddd;
}

.style tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


.style tbody tr:last-of-type {
    border-bottom: 2px solid #38015c;
}



.btn {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



/* btn */
.edit {
    background-color: #008cba;
}


.delete {
    background-color: #f44336;

}

.view {
    background-color: #e7e7e7;
    color: black;
}


@media screen and (max-width: 500px) {
    .style {
      float: none;
      display: block;
      text-align: left;
      width: auto;
    }

    .header  {
      float: none;
      display: block;
      text-align: left;
      justify-content: space-between;
      width: auto;
  
    }
  
    .header-right {
      float: none;
    }
  
  }
